{% extends "main_layout.html" %}

{% block title %}Terms Data{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="mt-4 card">
    <div class="card-header">Action</div>
    <div class="card-body">
      <a href="{{ url_for('generate_term') }}" class="btn btn-warning">Re-generate term</a>
    </div>
  </div>
  <div class="mt-4 card">
    <div class="card-header">Term Documents</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Term</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          {% for t in term %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ t.term }}</td>
            <td>{{ t.freq }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
