{% extends "main_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid p-5">
  <h2 align="center">Comparison of the performance of Indonesian Tala and Nazhief Adriani stemming algorithms using python</h2>
  <div class="row justify-content-center mt-4">
    <img src="{{ url_for('static', filename='unair_logo.png') }}" width="200px" height="200px" />
  </div>
  <div class="row justify-content-center mt-4">
      <p align="center">
        Mohammad Ali Asy-syakir<br>
        Universitas Airlangga, Surabaya, Indonesia<br>
        mohammad.ali.asysyakir-2016@fst.unair.ac.id
      </p>
  </div>
  <div class="row justify-content-center">
  </div>
  <div class="row justify-content-center">
  </div>

</div>
{% endblock %}
